.header-image, .footer-image{
  width: 100vw;
  height: 15vh;
  /*background: url('/static/images/header.jpg');*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.statement-date-row {
  position: relative;
  display: flex;
  display: -webkit-box;
  justify-content: center;
  -webkit-box-pack: center;
  height: 40px;
}
.statement-number, .date {
  position: absolute;
  font-size: 1.4rem;
}
.statement-number {
  right: 15px;
}
.date {
  left: 15px;
}

th {
  font-size: 1.2rem;
}
td {
  font-size: 1.15rem;
}